summary {
  margin: 1.2rem;
  padding: 0.5rem;
  border: 0.1rem solid grey;
}
details {
  margin: 1rem 0 0 0;
}

.completed {
  color: grey;
  background-color: whitesmoke;
  text-decoration: line-through;
  font-style: italic;
  font-size: 0.8rem;
}

.notCompleted {
  font-weight: 700;
  background-color: turquoise;
  font-size: 0.8rem;
}
